<div class="container">

    <div class="ui-g">
        <!-- Inicio filtros -->
        <div class="ui-g-12">
            <h1>Rota de coleta de lixo - Ibirama, Santa Catarina</h1>
        </div>
        <div class="ui-g-12">
            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header style="color: #11534c;"><b>Exibir Filtros</b></p-header>

                <div style="margin-left: 16%" class="row-2 ui-g-8 ui-fluid">
                    <label>Bairro</label>
                    <p-dropdown #bairro (onChange)="pesquisarRua();" [options]="bairroSelect" [(ngModel)]="bairroSelecionado"></p-dropdown>
                </div>

                <div style="margin-left: 16%" class="row-3 ui-g-8 ui-fluid">
                    <label>Nome da rua</label>
                    <p-dropdown #nomeRua (onChange)="pesquisarRuaBairro();" [options]="ruasSelect" [(ngModel)]="ruaSelecionada"></p-dropdown>
                </div>

                <div style="margin-left: 16%" class="row-4 ui-g-8 ui-fluid">
                    <label>Tipo coleta</label>
                    <p-selectButton [options]="coleta" (onChange)="pesquisar()" multiple="multiple" [(ngModel)]="tipoColetaSelecionada"></p-selectButton>
                </div>
            </p-fieldset>
        </div>
        <!-- Fim filtros -->
        <!-- Inicio Grid -->
        <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
                <p-fieldset [toggleable]="true" [collapsed]="true">
                    <p-header style="color: #11534c; padding-right: 5px;"><b>Exibir rotas</b></p-header>
                    <p-table [reorderableColumns]="true" [alwaysShowPaginator]="false" [value]="rotasFormatadas" [paginator]="true" [rows]="5" [responsive]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="14">Rotas Coleta de lixo - Ibirama</th>
                            </tr>
                            <tr>
                                <th rowspan="4" colspan="2">Nome da Rua</th>
                            </tr>
                            <tr>
                                <th colspan="2">Segunda-Feira</th>
                                <th colspan="2">Terça-Feira</th>
                                <th colspan="2">Quarta-Feira</th>
                                <th colspan="2">Quinta-Feira</th>
                                <th colspan="2">Sexta-Feira</th>
                                <th colspan="2">Sábado</th>
                            </tr>
                            <tr>
                                <th>Manhã</th>
                                <th>Tarde</th>
                                <th>Manhã</th>
                                <th>Tarde</th>
                                <th>Manhã</th>
                                <th>Tarde</th>
                                <th>Manhã</th>
                                <th>Tarde</th>
                                <th>Manhã</th>
                                <th>Tarde</th>
                                <th>Manhã</th>
                                <th>Tarde</th>
                            </tr>
                        </ng-template>
                        <ng-template dropdownAppendTo pTemplate="body" let-rotasFormatadas>
                            <tr>
                                <td class="col-nomeRua" colspan="13" *ngIf="">
                                    <span><b>Sem registros!</b></span>
                                </td>
                                <td class="col-nomeRua" colspan="2">
                                    <span class="ui-column-title">Nome da Rua:</span>
                                    <span><b>{{rotasFormatadas.nome_rua}} </b></span>
                                    <!--tooltipStyleClass="testeTooltip" pTooltip="{{rotasFormatadas.descricao}}" tooltipPosition="right"-->
                                    <a (click)="inforAdc.toggle($event)" *ngIf="rotasFormatadas.descricao">
                                        <fa-icon style="color: #9aca48" [icon]="faInfoCircle"></fa-icon>

                                        <p-overlayPanel styleClass="informacao-adicional" appendTo="body" #inforAdc>
                                            <b>{{rotasFormatadas.descricao}}</b>
                                        </p-overlayPanel>
                                    </a>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Segunda Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_manha && rotasFormatadas.segunda_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Segunda Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.segunda_tarde && rotasFormatadas.segunda_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Terça Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.terca_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.terca_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.terca_manha && rotasFormatadas.terca_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Terça Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.terca_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.terca_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.terca_tarde && rotasFormatadas.terca_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Quarta Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_manha && rotasFormatadas.quarta_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Quarta Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quarta_tarde && rotasFormatadas.quarta_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Quinta Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_manha && rotasFormatadas.quinta_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Quinta Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.quinta_tarde && rotasFormatadas.quinta_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Sexta Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_manha && rotasFormatadas.sexta_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Sexta Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sexta_tarde && rotasFormatadas.sexta_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Sábado Manhã:</span>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_manha && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_manha && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_manha && rotasFormatadas.sabado_manha !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                                <td class="col-valores" [style.color]="rotasFormatadas.tipo_coleta  === 'SELETIVA' ? 'green' : 'blue'">
                                    <span class="ui-column-title">Sábado Tarde:</span>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_tarde && rotasFormatadas.tipo_coleta === 'SELETIVA'" [icon]="faRecycle"></fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_tarde && rotasFormatadas.tipo_coleta === 'CONVENCIONAL'" [icon]="faTruck">
                                    </fa-icon>
                                    <fa-icon *ngIf="rotasFormatadas.sabado_tarde && rotasFormatadas.sabado_tarde !== 'X'" [icon]="faExclamationCircle"></fa-icon>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
            <!-- Fim Grid-->
        </div>