<nav class="navbar">
    <div class="ui-g-4">
        <a style="margin-left: 50px;" href="javascript:;" class="navbar-toggle" (click)="abrirModalLogin(true)">
            <fa-icon [icon]="faTools"></fa-icon>
        </a>
    </div>
    <div class="ui-g-6">
        <a style="margin-left: 30%" href="https://www.ibirama.sc.gov.br/"><img style="width: 100px; height: 50px" src="../../../logoPrefIbirama.jpg"></a>
    </div>
</nav>
<app-dashboard-admin [visible]="modalVisible" (estadoLogin)="estadoAtualModal($event)"></app-dashboard-admin>