body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #11534c;
}


/* CSS Filtros*/

.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
    border: 1px solid #9aca48 !important;
    background: #11534c !important;
}

.ui-fieldset,
.ui-fieldset .ui-fieldset-legend {
    padding: .5em 1em;
    border-color: #11534c !important;
}


/* CSS TurboTable */

.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tfoot>tr>td {
    background-color: #9aca48 !important;
    border-color: #11534c !important;
    color: #11534c;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #11534c !important;
    color: white !important;
    border-color: #11534c !important;
}

.ui-accordion .ui-accordion-header {
    background: #9aca48 !important;
    border-top: 1px solid #9aca48 !important;
}

.ui-table .ui-paginator-bottom {
    border-top: 0 none;
    background: #9aca48 !important;
    border-color: #11534c !important;
}

.ui-table .ui-table-tbody>tr>td {
    border: 1px solid #D5D5D5;
    background-color: inherit;
    border-color: #11534c !important;
}


/* CSS BODY */

label {
    font-weight: bold;
    color: #11534c;
}

@media (min-width: 800px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

.col-nomeRua {
    width: 400px;
    text-align: left;
}

.th-nomeRua {
    width: 400px;
    text-align: center;
}

.col-valores {
    width: 60px;
    text-align: center;
}

.iconSeletiva {
    color: green;
}

.iconConvencional {
    color: blue;
}

.modalLogin {
    position: fixed;
}


/* MODAL STYLES
-------------------------------*/

jw-modal {
    /* modals are hidden by default */
    display: none;
}

jw-modal .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
}

jw-modal .jw-modal .jw-modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 40px;
}

jw-modal .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}