body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 800px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

.col-nomeRua {
  width: 400px;
  text-align: left;
}

.th-nomeRua {
  width: 400px;
  text-align: center;
}

.col-valores {
  width: 60px;
  text-align: center;
}



